<div class="contents row">
  <div class="content_post" style="background-image: url(<%= @tweet.image %>);">
    <div class="more">
      <span><%= image_tag 'arrow_top.png'%></span>
      <ul class="more_list">
        <li>
          <%= link_to '編集', edit_tweet_path(@tweet.id), method: :get%>
        </li>
        <li>
          <%= link_to '削除', tweet_path(@tweet.id), method: :delete %>
        </li>
      </ul>
    </div>
    <p><%= @tweet.text %></p>
    <span class="name">
      <a href="/users/<%= @tweet.user.id %> ">
        <span>投稿者</span><%= @tweet.user.nickname %>
      </a>
    </span>
  </div>
</div>

<%# N + 1 問題
アソシエーションを利用した場合に限り、「データベースへのアクセス回数が多くなってしまう問題」のこと。
このことにりアプリケーションのパフォーマンス低下につながる。
要するにデータベースとブラウザを行ったり来たりする回数が莫大に増えてしまって
重くなってしまうということ。

includesメソッド
引数に指定された関連モデルを１度のアクセスでまとめて取得できる。
書き方は
モデル名.includes(:紐づくモデル名)
このメソッドによりN + 1問題を解消できる。 %>